@import "../styles/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, #root {
  height: 100%;
  overscroll-behavior: none;
}

body {
  height: 100%;
  overscroll-behavior: none;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}


*{
    -webkit-tap-highlight-color: transparent;
}