@import "../styles/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, #root {
  height: 100%;
  overscroll-behavior: none;
}

body {
  height: 100%;
  overscroll-behavior: none;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}
:root {
  --navbar-height: 88px; /* adjust if navbar height changes */
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

* {
    -webkit-tap-highlight-color: transparent;
}

/* === Custom Scrollbar (WhatsApp style) === */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}